.features{
    font-size: 16px;
    position: relative;
    text-align: left;
    margin-left: -150px;
}

.features ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.features ul li{
   padding-bottom: 10px;

}