main .container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.mainContent {
    width: 72%;

}

.sideContent {
    width: 23%;

}

@media screen and (max-width: 768px) {
    main .container {
        flex-direction: column;

    }

    .mainContent {
        width: 100%;
    }

    .sideContent {
        width: 100%;
    }

}